// --- AUTH PAGE ---
.auth-container {
    min-height: 100vh;
    background-color: white;
    display: flex;
}

.image-container {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    flex: 1;
    padding-top: 3%;
    padding-right: 30px;
    display: flex;
    align-items: center;

    div {
        max-width: 800px;
        h2 {
            font-size: 3.5rem;
        }
        .select-auth,
        .sign-in {
            width: 50%;
            min-width: 300px;
            position: relative;
        }
        .sign-in {
            padding-top: 20px;
            h5 {
                font-family: var(--Raleway);
                font-weight: 700;
                letter-spacing: -0.5px;
            }
        }
    }
}

// --- LOGIN PAGE ---
.sign-in-container {
    height: 100vh;

    .form-container {
        padding: 0;
        justify-content: center;

        form {
            background-color: white;
            border-radius: 10px;
            padding: 35px;
            width: 100%;
            max-width: 450px;
            overflow: hidden;
        }
    }
    .form-title {
        margin-bottom: 30px;
        h2 {
            font-family: var(--Montserrat);
            font-weight: 900;
        } //    transform: translateX(calc(-50% - 100px));
    }
}

// --- REGISTER PAGE ---
.form-content {
    display: flex;
    justify-content: space-between;
    width: calc(200%);
    transition: 0.2s;
    position: relative;

    .form-part {
        flex: 1;
        display: flex;
        flex-direction: column;

        .btn {
            align-self: flex-end;
        }

        &:last-child {
            position: relative;
            left: 200px;
        }
    }
    &.active {
        transform: translateX(calc(-50% - 200px));
    }
}
.row-back-arrow {
    background: none;
    border: none;
    position: absolute;
    top: -22px;
    left: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-weight: 700;
    font-family: var(--InstrumentSans);
}

//temporary
.sqr-cont {
    width: 50%;
    height: 50%;
    max-width: 300px;
    max-height: 300px;
    background-color: var(--contrast-color);
}
