:root {
    //fonts
    --DMMono: 'DM Mono', monospace;
    --OpenSans: 'Open Sans', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --Inter: 'Inter', sans-serif;
    --Raleway: 'Raleway', sans-serif;
    --RedHatDisplay: 'Red Hat Display', sans-serif;
    --InstrumentSans: 'Instrument Sans', sans-serif;

    //colors
    --background-color: #EFF1F2;
    --primary-color: #008dda;
    --secondary-color: #113f67;
    --complementary-color: #828589;
    --contrast-color: #003c43;
    --text-color: #1e201e;
    --error-color: #EE4E4E;
}
